<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Todos</h1>
      <form (submit)="onSubmit()">
        <div class="form-group">
          <input [(ngModel)]="newTodo" type="text" class="form-control" name="newTodo" placeholder="Entrer une tache" style="border-radius:0;" required>
        </div>
      </form>
    </div>
  </div>
</div>

<section class="container" *ngIf="nbTodos > 0">

  <div class="row">
    <div class="col-md-12">
      <section class="panel tasks-widget">
        <header class="panel-heading">
          Liste des taches
          <div class="pull-right">
            <button class="btn btn-success btn-xs" (click)="deleteAllTodoCompleted()" *ngIf="nbTodosCompleted > 0">Supprimer les taches effectuer</button>
            <button class="btn btn-danger btn-xs" (click)="deleteAllTodo()">Tout supprimer</button>
          </div>
        </header>
        <div class="panel-body">
          <div class="task-content">
            <ul id="sortable" class="task-list ui-sortable">
              <li [ngClass]="{'list-success task-done':todo.complete, 'list-inverse':!todo.complete}" *ngFor="let todo of listTodos;">
                <div class="task-checkbox">
                  <input type="checkbox" title="effectuer" (click)="completeTodo(todo._id)" class="task-checkbox" value="" [checked]="todo.complete" />
                </div>
                <div class="task-title">
                  <label class="task-title-sp" style="font-weight: normal; margin-left:10px;">{{todo.name}}</label>
                  <div class="pull-right">
                    <button class="btn btn-danger btn-xs fa fa-trash-o" (click)="deleteTodo(todo._id)"></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="add-task-row">
            <p>
              {{nbTodosCompleted > 0 ? nbTodosCompleted : '' }} {{nbTodosCompleted > 0 && nbTodosCompleted < 2 ? 'tache effectué /' : ''}} {{nbTodosCompleted > 1 ? 'taches effectué /' : ''}}
              {{nbTodos}} {{nbTodos > 1 ? 'taches' : 'tache'}}
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
